<%= form_with(model: @doctor) do |form| %>
    <div class="form-input-fields">
      <div class="field">
        <%= form.label :fullname %><br />
        <%= form.text_field :fullname, autofocus: true %>
      </div>

      <div class="field">
        <%= form.label :profile_picture %><br />
        <%= form.text_field :profile_picture, autofocus: true %>
      </div>

      <div class="field">
        <%= form.label :specialization%><br />
        <%= form.text_field :specialization, autofocus: true %>
      </div>

      <div class="field">
        <%= form.label :fees %><br />
        <%= form.text_field :fees, autofocus: true %>
      </div>

      <div class="field">
        <%= form.label :available_time %><br />
        <%= form.text_field :available_time, autofocus: true, placeholder: 'Tue - Thu, 8am - 4pm' %>
      </div>

      <%= form.submit %>
    </div>
  <% end %>
