<h1> Add a new Doctor </h1>

<%= render "form", doctor: @doctor %>

<% @doctors.each do |doctor| %>
    <%= image_tag(doctor.profile_picture) %>
    <p> <%=doctor.fullname %></p>
    <p> <%=doctor.specialization %></p>
    <p> <%=doctor.fees %></p>
    <p> <%=doctor.available_time %></p>
<% end %>
